NODE_ENV="production"

AUTH_TRUST_HOST=true

BLUE_DGST_HOST=

# Auth.js secret
AUTH_SECRET=

# jwt secret
NEXTAUTH_SECRET=

# Google client OAuth credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# KAKAO
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

#database credentials
MONGODB_CONNECTION_STRING=
DB_NAME=

DATABASE_URL=

# Google reCaptcha credentials
PUBLIC_GOOGLE_RECAPTCHA_SITE_KEY=
GOOGLE_RECAPTCHA_SECRET_KEY=

#VIP_FAKE_EMAIL=
#VIP_EMAIL=

# file-upload - minio로 대체
#UPLOAD_PATH="/volume/uploads"

CRON_SECRET=

# redis
REDIS_URL=
REDIS_PREFIX=

# uptime kumo
HEALTHCHECK_TOKEN=

# minio
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_REGION=

PUBLIC_PRIVACY_CONTACT_EMAIL=
PUBLIC_PRIVACY_OPERATOR_NAME=
